
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;

}
.signup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 2px solid;
    box-shadow: aqua;
    margin-bottom: 6px;
    padding-bottom: 8px;

}
.navbar{
    background-color: gray;
    justify-content: center;
    text-align: left;
    display: block;
}
.navbar a{
    text-decoration: none;
    float: right;
    padding: 6px;
    color: white;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    border-bottom: 2px solid;
    box-shadow: aqua;
    margin-bottom: 6px;
    padding-bottom: 8px;
}
.login{
    width: 176px;
    margin-top: 75px;
    outline: none;
}
.containerlogin{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    align-items: center;
}

.containerlogin a{
    float: left;
}
.container{
    background: none;
    display: flex;
    align-items: self-start;
    justify-content: left;
    flex-direction: column;
}